body{
	color: #dddddd;
	background-color: rgba(40,40,48,1);
	background-image: url(../img/bg06.jpg);
	font-family: 'Playfair Display', serif;
	/*transition: 1s;*/
}


.contenant{
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: 0.2s;
	background-position: center;
}

p{
	cursor: pointer;
	position: fixed;
	font-size: 18px;
	font-weight: lighter;
}

a{
	color: #dddddd;
}
a:hover{
	color: #dddddd;
}

.haut, .bas{
	text-align: center;
	/*display: none;*/
	cursor: default;
	border-radius: 5px;
	background-color: rgba(80,80,96,1);
	color: rgb(10,10,10);
	padding-left: 5%;
	padding-right: 5%;
}

.haut{
	position: fixed;
	bottom: 100%;
}
.bas{
	position: fixed;
	top: 100%;
}

.fermer{
	position: relative;
	height: 7%;
    vertical-align: middle;
	text-align: right;
	font-size: 22px;
	font-weight: lighter;
	cursor: pointer;
}

.fermer>p{
	position: relative;
	right: 1%;
}

.contenu{
	position: relative;
	top: 0vh;
	left: 0vw;
	height: 100vh;
	width: 100vw;
	background-color: rgba(40, 40, 48,0.8);
	overflow: hidden;
}

.nav{
	position: fixed;
	left: -100vw;
	height: 100vh;
	width: 100vw;
	background-color: rgba(40, 40, 48,0.95);

}

.nav-item{
	position: relative;
	top: 32%;
	height: 7%;
	
/*	padding-top: 1%; 
	padding-bottom: 1%; 
*/
    vertical-align: middle;
	width: 100%;
	text-align: center;
	font-size: 22px;
	/*font-style: italic;*/
	font-weight: lighter;
	cursor: pointer;
	transition: 0.6s;
}
.nav-item:hover{
	color: #FDEBD0;
}

header{
	height: 25px;
}

main {
	height: calc(99vh - 50px);
	position: relative;
	}
	.accueil{
		position: absolute;
		top: 35%;
		text-align: center;
	}

footer{
	height: 25px;
}

.competences:hover{}

.div_bg{
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.content{
	height: 100%;
}

h1{
	text-align: center;
}