@charset "utf-8";

header{
	font-family: 'Zilla Slab', serif;
	background-color: #222;
	color: #ddd;
	font-size: 24px;
	line-height: 45px;
	padding-left: 30px;
}

.menu>span{
	line-height: 45px;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: #fff;
}
.container{
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow: hidden;
}
.menu_gauche{
	background-color: #222;
	width: 100%;
	height: calc(100%);
	line-height: 22px;
	border-top: solid 1px #111111;
	border-bottom: solid 1px #111111;
	float: left;
}
.menu_gauche li a{
	color: #ddd;
}
.menu_gauche li:hover{
	background-color: black;
}
.menu_gauche a:hover{
	color: #000;
}

.time{
	float: right;
	color: #fff;
}

footer{
	height: 35px;
	background-color: #222;
}

td>p{
	min-height: 20px;
}
td {
  word-wrap:break-word;
  word-break:break-all;
}
table {
	display: block;
	overflow-x: auto;
}

#form_connexion{
	padding: 5%;
}

#bouton_connexion{
	background-color: #222;
	border: none;
	text-align: left;
}
#bouton_connexion:hover{
	color: #000;
	background-color: white;
}

.validation{
	width: 100%;
}

.fixed{
	display: block !important;
}